.about {
    display: flex;
    flex-grow: 1;
    gap: toRem(15);

    @media (max-width: toRem(649.98)) {
        flex-direction: column;
        
    }

    &__content {
        flex: 0 1 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: toRem(30) 0;
        gap: toRem(50);
    }

    &__description {
        width: 100%;
        max-width: 700px;

        p {
            color: #e7e7e7;
            line-height: 1.5;
            text-align: center;
            @include adaptiveValue('font-size', 20, 16, 0, $containerWidth, 768);
        }

        p:not(:last-child) {
            margin-bottom: toRem(20);
        }
    }

    &__hello {
        font-weight: 700;
        color: #0071a1;
    }

    &__title {
        color: #ffffff;
        line-height: toRem(47);
        text-transform: uppercase;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: toRem(10);
        @include adaptiveValue('font-size', 38, 20, 0, $containerWidth, 468);
    }

    &__animation {
        height: toRem(48);
        overflow: hidden;
    }

    &__animation > div > div {
        padding: toRem(2) toRem(15);
        height: toRem(48);
        width: 100%;
        margin-bottom: toRem(4);
        display: inline-block;
        text-align: center;
    }

    &__animation div:first-child {
        animation: text-animation 12s infinite;
    }
    
    &__name div {
        background-color: #20a7d889;
    }
    
    &__technology div {
        background-color: #d06c0085;
    }
    
    &__position div {
        background-color: #00946f86;
    }

    &__button {
        font-size: toRem(20);
        background-color: rgba(0, 113, 161, 0.5);
        padding: toRem(15) toRem(30);
        border-radius: toRem(5);
        transition: background-color .3s ease-in-out;

        @media (any-hover: hover) {
            &:hover {
                background-color: #0071a1;
            }
        }
    }
}

@keyframes text-animation {
    0% {
        margin-top: 0;
    }
    10% {
        margin-top: 0;
    }
    20% {
        margin-top: toRem(-48);
    }
    30% {
        margin-top: toRem(-48);
    }
    40% {
        margin-top: toRem(-96);
    }
    60% {
        margin-top: toRem(-96);
    }
    70% {
        margin-top: toRem(-48);
    }
    80% {
        margin-top: toRem(-48);
    }
    90% {
        margin-top: 0;
    }
    100% {
        margin-top: 0;
    }
}