.projects {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__list {
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(toRem(300), 1fr));
        gap: toRem(30);
        justify-items: center;
    }

    &__item {
        width: 100%;
        display: grid;
    }

    &__link {
        width: 100%;
        height: 100%;
        display: grid;
        justify-items: center;
        color: #00c191;
        padding: toRem(30) toRem(20);

        @media (any-hover: hover) {
            &:hover {
                .projects__name{
                    &::before {
                        transform: scaleX(1);
                        transform-origin: bottom left;
                    }
                }
            }
        }

    }

    &__screens {
        width: 100%;
        position: relative;
        width: 100%;
        max-width: 300px;
        height: 200px;
        transition: all .3s ease-in-out;
        padding-bottom: toRem(30);
        margin-bottom: toRem(-5);
    }

    &__pc {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        max-width: 300px;
        height: auto;
        z-index: 1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
    &__tablet {
        position: absolute;
        width: 100px;
        bottom: toRem(20);
        right: 5px;
        height: auto;
        z-index: 2;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
    &__mobile {
        position: absolute;
        width: 50px;
        left: 5px;
        bottom: toRem(20);
        height: auto;
        z-index: 2;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__name {
        width: 100%;
        font-size: toRem(30);
        padding: toRem(5) toRem(10);
        font-weight: 700;
        color: #D06B00;
        text-align: center;
        position: relative;
        z-index: 1;
        transition: color .3s easy-in-out;

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            inset: 0 0 0 0;
            background: #62b6e07d;
            border-radius: toRem(5);
            z-index: -1;
            transition: transform .3s ease;
            transform: scaleX(0);
            transform-origin: bottom right;
        }
    }

    &__technology {
        width: 100%;
        line-height: 1.5;
        text-align: center;
        padding-top: toRem(30);
        margin-top: toRem(-10);
    }
}

.projects__list.hidden {
    display: none;
}

.projects__list {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.projects__list:not(.hidden) {
    opacity: 1;
}

#load {
    font-size:2rem;
    position:relative;
    top:40%;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    text-align:center;
    max-width:600px;
    overflow:visible;
    user-select:none;
    cursor:default
}

#load div {
    position:absolute;
    width:20px;
    height:36px;
    opacity:0;
    animation:move 2s linear infinite;
    transform:rotate(180deg);
    color:$clGreen
}

#load div:nth-child(2) {
    animation-delay:0.2s;
    color:#D06B00
}

#load div:nth-child(3) {
    animation-delay:0.4s;
    color:$clBlue
}

#load div:nth-child(4) {
    animation-delay:0.6s;
    color:$clWhite
}

#load div:nth-child(5) {
    animation-delay:0.8s;
    color:$clRed
}

#load div:nth-child(6) {
    animation-delay:1s;
    color:yellow
}

#load div:nth-child(7) {
    animation-delay:1.2s;
    color:$clGreen
}

@keyframes move {
    0% {
        left:100%;
        opacity:0
    }
    35% {
        left:59%;
        transform:rotate(0deg);
        opacity:1
    }
    65% {
        left:41%;
        transform:rotate(0deg);
        opacity:1
    }
    100% {
        left:0;
        transform:rotate(-180deg);
        opacity:0
    }
}