@use "sass:math";

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1440;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1170;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

@import "_reset.scss";
@import "_variables.scss";
@import "_functions.scss";
@import "_header.scss";
@import "_sidebar.scss";
@import "_about.scss";
@import "_navigation.scss";
@import "_courses.scss";
@import "_projects.scss";
@import "_contact.scss";
@import "_footer.scss";
@import "_error-page.scss";

body {
    font-family: 'Montserrat', sans-serif;
    color: $clLightGrey;

    &.lock {
        overflow: hidden;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
	overflow: clip;
    min-height: 100vh;
}

[class*="__container"] {
	max-width: toRem(1200);
	margin: 0 auto;
	padding-left: toRem(15);
	padding-right: toRem(15);
}

.page {
    flex-grow: 1;

    &__container {
        position: relative;
        margin: toRem(30) auto toRem(50);
        display: flex;
        gap: toRem(15);
        width: 100%;
        background-color: transparent;
    }

    &__content {
        padding: toRem(30) toRem(15);
        flex-grow: 1;
        border: 1px solid #c6c6c6;
        border-radius: toRem(10);
    }
}


.title {
    color: #0071a1;
    text-align: center;
    @include adaptiveValue('font-size', 38, 30, 0, $containerWidth, 768);
    line-height: 1.25;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: toRem(20);
}



.projects,
.cert,
.courses,
.contact {
    flex-grow: 1;
}

.tsparticles {
    transition: all 0.3s ease-in-out;

    .lock & {
        position: fixed;
        z-index: 5;
    }
}